<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>web简单模板</title>
</head>
<body>
    <h1>Login</h1>
    <FORM method=POST>
        <table id="login">
            <tr>
                <td>User: </td>
                <td><input type=text name='username'></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name=passwd></td>
            </tr>
            <tr>
                <td></td>
                <td><input type=submit></td>
            </tr>
        </table>
    </form>
</body>
</html>